@import 'variables';
@import 'animate';

// #app{
//     // height:100vh;
// }
body, html {
    margin: 0; //Remueve bordes en blanco
    // overflow-y: hidden; //Corrige comportamiento por defecto de Vuetify de mostrar la barra de desplazamiento incluso si no hay desbordamiento
    // overflow: hidden;
    @media (max-width: 600px) {
      font-size: 0.9rem; //Disminuye el tamaño de la fuente para celulares
      overflow-y: auto;
    }
  }
.general-container{
  margin-left: 60px;
  @media screen and(max-width:600px) {
    margin-left: 0px;
    padding-bottom: 45px;
  }
}
  