$color-primary : #15ADC7; // indigo
$color-secondary : #424242; // gris oscuro
$color-accent : #82B1FF; // azul clarito
$color-error : #FF5252; // rojo
$color-info : #2196F3; // azul oscurito
$color-success : #4CAF50; // verde
$color-warning : #FFC107; // amrillo
$color-btncolor : #15ADC7; // Azul de los botones
$color-headforms : #D2EDF2; // Azul cabecera formularios modal
$color-titlesdark: #054278; // Azul oscuro titulos y barra de progreso
$color-titleslight: #15ADC7; //Azul claro titulos formularios
$color-backgrey : #F8F8F8; // gris clarito fondo
$color-ntitlesdark: #012362; // Nuevo color de titlulos oscuro


$color-base: #f0bc5e; // Color principal para UI